
$fundo-header: #2D2D2D;
$fundo-footer:#0C70F2;
$texto-color: #FFFFFF;
$button-color:#0C70F2;
$button-border-radius:6px;
$input-border-color:#7A7A7A;
$input-border-radius:10px;
$placeholder-color:#616161 ;
$font-gerals: 'Raleway';
$grey-button: #676767;