@use "../../sass/variables" as *;

.payment {
    margin-top: 30px;
    width: 100%;

    position: absolute;

    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 2);
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        min-width: 900px;
        max-width: 1267px;
        height: 919px;
        border-radius: 100px;
        background-color: #fff;
        padding: 10px;




        &__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 3vw;

            h1 {
                color: $button-color;
                margin-bottom: 49px;
                text-align: center;
            }

            &-form {
                display: flex;
                flex-direction: column;
                justify-content: start !important;
                text-align: left;

                label {
                    padding-bottom: 0.3vw;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    color: #000000;
                    margin: 12px 0 12px 0;
                }

                input {
                    text-indent: 2px;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 11px 13px;
                    gap: 8px;
                    width: 524px;
                    height: 52px;
                    background: rgba(255, 255, 255, 0.9);
                    border: 2px solid #7a7a7a;
                    border-radius: 10px;
                }

                input::placeholder {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    /* Neutras/Claro/Primeiro plano 2 */

                    color: #616161;

                    /* Inside auto layout */

                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }
            }
        }

        &__payment-button {
            margin-top: 68px;
            background-color: $button-color;
            border: none;
            border-radius: 10px;
            width: 439px;
            height: 63px;



            a {
                text-decoration: none;
                color: $texto-color;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 20px;
                /* identical to box height, or 83% */

                text-align: center;
            }
        }
    }
}

.close {
    width: 32px;
    height: 32px;
    top: 30px;
    right: calc(-100% + 64px);
    border: 2px solid rgba(0, 0, 0, 1);
    border-style: outset;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 0.5s;
}

.close::before,
.close::after {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
    transition: 1s;
    content: '';
}

.close::before {
    height: 32px;
    width: 32px;
}

.close::after {
    width: 32px;
    height: 32px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.close:hover::before {
    width: 0px;
    background: #fff;
}

.close:hover::after {
    height: 0px;
    background: #fff;
}

.close:hover {
    background: #fff;
}