@use "../../sass/variables" as *;

.product-detail {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $texto-color;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;



    &__left {
        margin-left: 78px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 108px;
        padding-top: 10px;
    }

    &__left__top {
        &-logo {

            width: 395px;
            height: 321px;

        }

        &-title {
            font-size: 1.2vw;
            padding-top: 2vw;
        }
    }

    &__left__bottom {
        padding-top: 3vw;

        &-title {
            padding-bottom: 1vw;
        }

        &-description {
            padding-bottom: 1vw;
            border-bottom: 2px solid blue;
            font-weight: 500;
        }
    }

    &__right {

        margin-right: 108px;
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    &__right__title {
        text-align: center;
        font-weight: normal;
        border-bottom: 3px solid blue;
        padding-bottom: 0.5vw;
    }

    &__right__detail {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40%;
        padding-top: 2vw;

        &-price {
            font-size: 32px;
            padding-bottom: 1vw;
        }

        &-color {

            &-title {
                font-weight: 800;
            }

            font-size: 1.2vw;
            padding-bottom: 1vw;
        }


    }

    &__right__cube-colorblock {

        display: flex;
        margin-top: 10px;
        gap: 5px;


        span {
            cursor: pointer;
        }
    }


    &__right__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 164px;
        width: 510px;
        height: 61px;
        align-self: center;
        text-align: center;
        background-color: $button-color ;
        border-radius: 10px;
        border: none;
        color: $texto-color;
        padding-top: -10px;

        &:hover {
            cursor: pointer;
        }


        img {

            padding-right: 30px;
        }
    }
}